# http://EditorConfig.org

root = true

[*]
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{json,yml}]
indent_size = 2
insert_final_newline = false

[*.sh]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
insert_final_newline = false
